/* color palette from <https://github.com/vuejs/theme> */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --vt-c-grey-darkest: #2B2F30;
  --vt-c-grey-dark: #34495E;
  --vt-c-green: #39B983;
  --vt-c-white: #ffffff;
  --vt-c-indigo: #2c3e50;
  --vt-c-black:#000000;
}

:root {
  --color-h1: var(--vt-c-grey-darkest);
  --color-text-p: var(--vt-c-black);
  --bgcolor-button: var(--vt-c-grey-dark);
  --color-text-button: var(--vt-c-white);
  --color-background-green: var(--vt-c-green);
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-indigo);  
  --color-text-black: var(--vt-c-black); 

  /*Btn*/  
  --width-button :121px;
  --height-button:31px;
  --border-radius-button:13px;
  --font-size: 14px;
  --line-height: 20px;
  --font-weight-button:500;
  --letter-spacing-button:-2%;
  --font-family-button: Inter;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body { 
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
  background-color: var(--vt-c-grey-dark);
  color: var(--vt-c-white);
  border: none;
  width: var(--width-button);
  height: var(--height-button) ;
  border-radius: var(--border-radius-button); 
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-button);
  font-family: var(--font-family-button);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  font-weight: 600;

}
