@import '@/assets/_colors.css';
@import '@/assets/_button.css';
@import '@/assets/base.css';

#app {
  height: 100vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#container-logo {
  display: flex;
  justify-content:center;
  align-items: center;
  
  padding: 20px;
}

#container-logo img {
  max-width: 100%; 
}

#container-titles {
  text-align: center;
}

.custom-h1 {
  font-size: 50px;
  line-height: 95px;
  letter-spacing: -2%;
  font-weight: 800;
  color: var(--vt-c-grey-darkest);
}

.custom-h3 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
  font-weight: 800;
  margin-bottom: 40px;
}

.images-container {
  height: 40vh;
  width: 100%;
  background-color: var(--vt-c-green);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.images-container img {
  margin-right: 60px;
  margin-left: 60px;

}