@import '@/assets/_colors.css';
@import '@/assets/_button.css';
@import '@/assets/base.css';

#app {
  height: 100vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#container-logo img {
  max-width: 100%;
}

#container-titles {
  text-align: center;
}

.custom-h1 {
  font-size: 50px;
  line-height: 95px;
  letter-spacing: -2%;
  font-weight: 800;
  color: var(--vt-c-grey-darkest);
}

.custom-h3 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
  font-weight: 800;
  margin-bottom: 40px;
}

/* ------------------------cards------------------------- */

.background-container {
  background-color: var(--vt-c-green);
  width: 600px;
  height: 312px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 30px;
}

.card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}

.title h3 {
  font-weight: bolder;
  font-size: 16px;
}

.text {
  text-align: center;
  font-size: 12px;
}